<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Nine Plus Solution</h2>
            <h4>admin@nineplus.com</h4>
        </div>
        <img src="https://caodangyduocsaigon.com/images/files/caodangyduocsaigon.com/bieu-tuong-nganh-y.png" alt="logo y te">
    </div>

    <mat-divider></mat-divider>
    <h2 matSubheader>Pages</h2>
    
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/pharmacies">Kho thuốc</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/input-store">Nhập kho</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/export-store">Xuất kho</a>
    
    <mat-divider></mat-divider>
    <h2 matSubheader>Tools</h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon>
        Liên hệ
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/hotline">
        <mat-icon>contact_phone</mat-icon>
        Đường dây nóng
    </a>
</mat-nav-list>