mat-card {
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
  }
  
  mat-form-field {
    display: block;
  }

.login {
  height: 100%; background-image: 
  url(https://assets.technologynetworks.com/production/dynamic/images/content/361093/building-nanoreactors-to-make-medicines-vitamins-and-more-361093-1280x720.jpg?cb=11742290)
}